<form [formGroup]="filtersGroup" class="filters">
  <mat-form-field>
    <mat-label>Тип преступления</mat-label>
    <mat-select formControlName="crimeType">
      <mat-option *ngFor="let crime of crimeTypes$ | async" [value]="crime">
        {{crime}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</form>

<mat-grid-list *ngIf="loaded$ | async" [cols]="gridColumns" rowHeight="4:1" gutterSize="15px">
  <!-- FIRST ROW -->
  <mat-grid-tile rowspan="2">
    <app-density-plot [dataVector]="age$ | async" title="Распределение возраста">
    </app-density-plot>
  </mat-grid-tile>
  <mat-grid-tile rowspan="2">
    <app-bar-plot [dataGroupsCount]="income$ | async" title="Благосостояние"></app-bar-plot>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-single-bar-plot [dataBiGroupCount]="isMale$ | async" title="Соотношение мужчин и женщин"></app-single-bar-plot>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-single-bar-plot [dataBiGroupCount]="isCity$ | async" title="Соотношение горожан и жителей др. насел. пунктов">
    </app-single-bar-plot>
  </mat-grid-tile>

  <!-- SECOND ROW -->
  <mat-grid-tile rowspan="2">
    <app-bar-plot [dataGroupsCount]="education$ | async" title="Уровень образования">
    </app-bar-plot>
  </mat-grid-tile>
  <mat-grid-tile rowspan="2">
    <app-density-plot [dataVector]="population$ | async" title="Население">
    </app-density-plot>
  </mat-grid-tile>
  <mat-grid-tile rowspan="2">
    <app-bar-plot [dataGroupsCount]="socialStatus$ | async" title="Социальный статус"></app-bar-plot>
  </mat-grid-tile>

</mat-grid-list>