<mat-grid-list cols="3" rowHeight="2:1">
  <mat-grid-tile>
    <div *ngIf="loaded$ | async" class="plot-wrapper">
      <app-density-plot [dataVector]="age$ | async"></app-density-plot>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-bar-plot *ngIf="loaded$ | async" [dataGroupsCount]="income$ | async"></app-bar-plot>
  </mat-grid-tile>
  <mat-grid-tile>3</mat-grid-tile>
  <mat-grid-tile>
    <div *ngIf="loaded$ | async" class="plot-wrapper">
      <app-density-plot [dataVector]="age$ | async"></app-density-plot>
    </div>
  </mat-grid-tile>
</mat-grid-list>