<mat-toolbar class="header" color="primary">
  <mat-toolbar-row>
    <span class="header-element">VictimsDataVis</span>
    <button mat-button class="header-element">Жертвы</button>
    <button mat-button class="header-element">Преступления</button>
    <button mat-button class="header-element">Поведение После Преступлений</button>
    <button mat-button class="header-element">Правоохранительные и Судебные Органы</button>

  </mat-toolbar-row>
</mat-toolbar>

<app-victims-dashboard></app-victims-dashboard>